<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new task</h1>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">

        </form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-success" type="submit" href="/login">Add Task</a>
      </div>
    </div>
  </div>
</div>